<div class="container-narrow" style="max-width: 940px;">

<div class = "row-fluid">
	<div class = "span12">
		Logo here
	</div>
</div>
<div class="row-fluid">
	<div class="span12">
		Main content header
		<div class="row-fluid">
			<div class="span6">
				<% 3.times do |ga| %>
					
					<%= placehold(280,336) %>
					<br />
				<% end %>
			</div>
			<div class="span6">
				<% @finance_lead = FinanceLead.new %>
				<%= render 'finance_leads/form'%>
			</div>
		</div>
	</div>
</div>



</div>
