<div class='navbar  navbar-fixed-top'>
	<div class="navbar-inner">
		<div class="container">
			<a class="brand" href="#">Finance Prospects</a>
			<div class="nav-collapse collapse">
				<ul class="nav">
					<% if signed_in? %>
						<li><a href="#">Signed in as <strong><%= current_finance_customer.name %></strong></a></li>
					<% else %>
						<li ></li>
					<% end %>	
				</ul>
						
				
			</div>	
		</div>
	</div>
</div>
